<div class="image-wrapper">
  <img [src]="image()" />
</div>
<div class="introduce">
  <div class="title">DESIGN SLIDER</div>
  <div class="topic">{{ header() }}</div>
  <div class="des">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
  </div>
  <button (click)="onShowDetails()" class="see-more">SEE MORE &#8599;</button>
</div>
<div class="detail">
  <div class="title">Aerphone</div>
  <div class="des">
    <!-- lorem 50 -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor,
    reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti
    impedit illo, accusantium in eaque nam quia adipisci aut distinctio
    porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus
    architecto dolores modi ducimus facilis quas voluptatibus! Tempora
    ratione accusantium magnam nulla tenetur autem beatae.
  </div>
  <div class="specifications">
    <div>
      <p>Used Time</p>
      <p>6 hours</p>
    </div>
    <div>
      <p>Compatible</p>
      <p>Android</p>
    </div>
    <div>
      <p>Bluetooth</p>
      <p>5.3</p>
    </div>
    <div>
      <p>Controlled</p>
      <p>Touch</p>
    </div>
  </div>
  <div class="checkout">
    <button>ADD TO CART</button>
    <button>CHECKOUT</button>
  </div>
</div>
