<header>
  <div class="logo">khangtrann</div>
  <nav>
    <a href="#">Home</a>
    <a href="#">Info</a>
    <a href="#">Contact</a>
  </nav>
</header>

<div class="carousel">
  <div #carouselList class="list">
    <app-aerphone-carousel-item image="images/img1.png" />
    <app-aerphone-carousel-item image="images/img2.png" />
    <app-aerphone-carousel-item image="images/img3.png" />
    <app-aerphone-carousel-item image="images/img4.png" />
    <app-aerphone-carousel-item image="images/img5.png" />
    <app-aerphone-carousel-item image="images/img6.png" />
  </div>
</div>

<div class="arrows">
  <button (click)="onPrev()" id="prev"><</button>
  <button id="back">Go Back &#8599;</button>
  <button (click)="onNext()" id="next">></button>
</div>
