a {
  text-decoration: none;
  color: #555;
  margin-left: 30px;
  font-weight: 500;
}

header {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

header .logo {
  font-weight: bold;
}

header nav a {
  margin-left: 30px;
}
