<img [src]="image()" />
<div class="intro">
  <div class="title">DESIGN SLIDER</div>
  <div class="topic">Aerphone</div>
  <div class="des">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nesciunt
    amet dicta minima harum? Eum quaerat molestiae dolores expedita
    consequatur?
  </div>
  <button class="see-more">See more &#8599;</button>
</div>
<div class="detail">
  <div class="title">Aerphone GHTK</div>
  <div class="des">
    <!-- lorem 50 -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor,
    reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti
    impedit illo, accusantium in eaque nam quia adipisci aut distinctio
    porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus
    architecto dolores modi ducimus facilis quas voluptatibus! Tempora
    ratione accusantium magnam nulla tenetur autem beatae.
  </div>
  <div class="specifications">
    <div>
      <p>Used Time</p>
      <p>6 hours</p>
    </div>
    <div>
      <p>Charging port</p>
      <p>Type-C</p>
    </div>
    <div>
      <p>Compatible</p>
      <p>Android</p>
    </div>
    <div>
      <p>Bluetooth</p>
      <p>5.3</p>
    </div>
    <div>
      <p>Controlled</p>
      <p>Touch</p>
    </div>
  </div>
  <div class="checkout">
    <button>ADD TO CART</button>
    <button>CHECKOUT</button>
  </div>
</div>
